<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <h2>This web app helps you find a strong password that's very hard to guess!</h2>
    <p>Choose the preferences of your password characteristics regarding the length, whether you want it to have uppercase letters, numbers or special characters.</p>
    <p>Feel free to refresh the page to generate a new password or go back to the home page to change your preferences.</p>
    <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
</body>
</html>